<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/index.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light" id="nav">
        <div class="container-fluid">
            <a href="">
                <h3>Dashboard</h3>
            </a>
          <button
            class="btn btn-outline-dark"
            type="submit"
            style="right: 0"
          >
            Logout
          </button>
        </div>
      </nav>
    </header>
    <div class="container-fluid py-4" id="container-grid">
        <div class="row">
            <div class="col">
                <div class="container-fluid shadow" id="status">
                    <h3>Status: ✅</h3>
                </div>
            </div>
            <div class="col">
                <div class="container-fluid shadow" id="feed">
                    <img src="http://127.0.0.1:5000/video_feed" alt="" width="100%" height="100%" style="object-fit: fill;">
                </div>
        </div>
    </div>
  </body>
</html>
